node_modules
dist
test/temp
.sass-cache
app/js/lib
public/vendor/bower_installed
.tmp
logs
*.log
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/app_versions/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
server/staging
built
built.zip