
.lander-status-tab-handle {
    width: 140px !important;
}

.deployed-landers-header {
	margin-left: 30px;
}

.deployed-landers-header-container {
	margin-left: 5px; 
	padding-top: 10px; 
	float: left;
	display: none;
	font-weight: 600;
}

.btn.delete-domain-button {
	margin: 0 auto;
	display: block;
}

.domain-action-buttons{
	font-size: 16px;
	float: right;
}

.domain-action-buttons a {
	margin-right: 10px;
}

.domain-action-buttons a:hover {
	text-decoration: none;
}

.deployed-domains-region, .deployed-landers-region {
	font-size: 14px;
}


.lander-on-campaign-row td {
	border-top: 1px solid #999eb3 !important;
	background-color: #abc3ce;
	color: #444;
	font-size: 14px;
}

.domain-links-column {
	min-width: 170px;
}


tr.success .domains-lander-links .landers-select-container .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #3f9532 !important;
}

tr.success .domains-lander-links .landers-select-container {
	display: inline;
	float: left;
}

tr.success .domains-lander-links .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #3f9532 !important;
}

tr.success .domains-lander-links .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #3f9532 transparent transparent transparent;
}

tr.success .domains-lander-links .landers-select-container .select2-selection {
	outline: none;
	border-color: #3f9532 !important;
}

tr.warning .domains-lander-links .landers-select-container .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #c88a0a !important;
}

tr.warning .domains-lander-links .landers-select-container {
	display: inline;
	float: left;
}

tr.warning .domains-lander-links .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #c88a0a !important;
}

tr.warning .domains-lander-links .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #c88a0a transparent transparent transparent;
}

tr.warning .domains-lander-links .landers-select-container .select2-selection {
	outline: none;
	border-color: #c88a0a !important;
}






