
.lander-status-tab-handle {
    width: 120px !important;
}

.deployed-landers-header {
	margin-left: 30px;
}

.deployed-landers-header-container {
	margin-left: 5px; 
	padding-top: 10px; 
	float: left;
	display: none;
}

.btn.delete-domain-button {
	margin: 0 auto;
	display: block;
}