.heading-border.no-border {
	padding: 10px 10px 0 !important;
}

body.external-page #main {
	background: url("../../img/login/buildcave_bg_new.png") no-repeat bottom 30px right 30px #000000 !important;
	background-size: 180px auto !important;
}

#root-region, #login-container {
	height: inherit;
}

span.help-block {
	display: inline;
}

.has-error input {
	border-color: #e67d6c !important;
}

.has-error .field-icon i {
	color: #df5640 !important;
}

#reset-password-login {
	margin-top: 10% !important;
}