@import url('login_overrides.css');
@import url('landers_overrides.css');
@import url('domains_overrides.css');
@import url('groups_overrides.css');
@import url('active_snippets_overrides.css');
body {
    min-height: 300px;
}

#topbar {
    min-height: 41px;
    padding: 5px 22px;
}

#nestable-contextual {
    max-width: none;
}

.topbar.dropdown-menu {
    margin-top: 10px;
    border-top-color: #3498db !important;
    border-top: 3px solid transparent;
    /*padding: 0;*/
}

.topbar.dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 13px;
    bottom: 100%;
    border-width: 0 10px 10px;
    border-bottom-color: #4a89dc;
}

.dd-primary > .dd-content {
    border: 1px solid #f9d58b;
}

#sidebar_left {
    position: fixed;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    width: 230px;
}

.sb-l-o #content_wrapper,
.sb-r-c #content_wrapper,
body.sb-l-o #topbar.affix,
#content_wrapper,
#topbar.affix {
    /*margin-left: 230px;*/
    margin-left: 0px;
}

.sb-l-c #content_wrapper {
    margin-left: 0;
}


/*#content_wrapper {
    position: inherit;
}*/

#first-topbar {
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 10px 21px;
    background: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

#first-topbar.alt {
    padding: 17px 25px !important;
    background: #e7e7e7;
    border-bottom: 1px solid #ddd;
}

#first-topbar.alt .breadcrumb {
    font-size: 14px;
}

#topbar.alt {
    min-height: 0 !important;
    padding: 17px 22px !important;
}

#topbar {
    transition: none !important;
}

.sb-r-o #topbar.affix {
    top: 0px;
    padding-top: 65px;
    right: 300px;
}

#topbar.affix + #content {
    margin-top: 44px;
}

.sb-r-c #topbar.affix {
    top: 0px;
    padding-top: 65px;
    right: 0 !important;
}

.sb-l-c #topbar.affix {
    top: 0px;
    padding-top: 70px;
    right: 300px;
    margin-left: 0 !important;
}

.domain-list {
    list-style: none;
    padding-left: 0;
}

.domain-list > li:first-child {
    margin-top: 0px;
}

.domain-list > li {
    margin-top: 10px;
}

.domain-item a:hover,
.domain-item a:focus {
    text-decoration: none;
}

.domain-title {
    display: block;
    height: auto;
    margin: 5px 0;
    padding: 7px 0 7px 10px;
    color: #777;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #ddd;
    background: #f5f5f5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    background-color: #4a89dc !important;
    border-color: #4a89dc !important;
}

.domain-title a,
.group-title a {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

.group-list,
.lander-list {
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 15px !important;
    position: relative;
    list-style: none;
}

.group-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.group-title {
    color: #FFF;
    background-color: #3bafda !important;
    border-color: #3bafda !important;
    display: block;
    height: auto;
    margin: 5px 0;
    padding: 7px 0px 7px 10px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #ddd;
    background: #f5f5f5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.lander-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.lander-title {
    color: #777;
    border: 1px solid #ddd;
    background: #f5f5f5;
    display: block;
    height: auto;
    margin: 5px 0;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#sidebar_left {
    background-color: #282828;
}

.domain-controls {
    float: right;
    position: relative;
    display: block;
    width: 100px;
    margin-top: -7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.098);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.domain-notification-label {
    margin-top: 5px;
    width: 100%;
}

.group-controls {
    float: right;
    position: relative;
    display: block;
    width: 35px;
    margin-top: -7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.098);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.group-notification-label {
    margin-top: 10px;
    position: relative;
    right: 2px;
    top: 1px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}


/*.collapsing {
    -webkit-transition: none;
    transition: none;
}*/

.collapse-icon {
    font-size: 10px;
    margin-right: 10px;
}

.w170 {
    width: 170px !important;
}

.mtn16 {
    margin-top: -15px !important;
}

#sidebar_left,
#content_wrapper {
    padding-top: 60px;
}

.ml14 {
    margin-left: 14px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.modal-header {
    background-color: #fafafa;
}

.lds-top-nav ul li a {
    line-height: 29px;
    /*background-color: #101010 !important;*/
}

.lds-top-nav ul li a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: #e9e9e9 !important;
}

.lds-top-nav ul li a:hover {
    opacity: 0.8;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.settings-topbar {
    padding: 0px 21px;
    background: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

.kv-upload-progress .progress {
    display: none;
}

#content_wrapper,
.sb-l-o #content_wrapper {
    left: 0;
}

.alert-loading {
    display: none;
}

.spinner-full-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0;
    z-index: 10;
    text-align: center;
}

.modal-loading-container {
    color: #e5e5e5;
    margin: 80px auto;
}

.spinner-large {
    color: #e5e5e5;
    font-size: 35px;
    -webkit-animation: spin2 2s infinite linear;
    display: inline-block;
}

.add-link-plus {
    display: inline;
}

.navbar-inverse {
    background: #000 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #282828;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}


/*icons */

@font-face {
    font-family: 'icomoon';
    src: url('/assets/css/fonts/icomoon/icomoon.eot?kkhbdx');
    src: url('/assets/css/fonts/icomoon/icomoon.eot?kkhbdx#iefix') format('embedded-opentype'), url('/assets/css/fonts/icomoon/icomoon.ttf?kkhbdx') format('truetype'), url('/assets/css/fonts/icomoon/icomoon.woff?kkhbdx') format('woff'), url('/assets/css/fonts/icomoon/icomoon.svg?kkhbdx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-landers_icon:before {
    content: "\e900";
}

.icon-groups_icon:before {
    content: "\e901";
}

.icon-domains_icon:before {
    content: "\e902";
}


/**/

.btn {
    font-size: 14px;
}

.add-link-plus-container {
    text-align: right;
    float: right;
}

.no-top-border: {
    border-top: none !important;
}

.active_groups_region {
    font-size: 14px;
}

.menu-buttons-region {
    background-color: #fff;
}

#pages-list {
    position: relative;
    top: 3px;
    font-size: 16px;
}

.deployed-row-td {
    font-size: 14px;
    line-height: 28px !important;
}

.section-divider span {
    background: #F2F2F2 !important;
}

#rip-advanced-settings {
    display: none;
}

#toggle-advanced-rip-settings:hover,
#toggle-advanced-rip-settings:focus {
    text-decoration: none !important;
}

.editable-lander-name {
    border: none;
    background-color: transparent;
    font-size: 15px;
    line-height: normal;
    font-weight: 600;
    outline: none;
}

.editable-lander-name[readonly] {
    cursor: pointer;
}

.fw500 {
    font-weight: 500 !important;
}

.list-row-item {
    color: rgb(102, 102, 102);
    cursor: pointer;
}

div.list-row-item:hover,
div.list-row-item:hover input,
div.list-row-item:focus,
div.list-row-item.active input,
div.list-row-item:focus input {
    color: #222;
    text-decoration: none;
}

.admin-form .dropdown-menu label:hover {
    background-color: #f5f5f5 !important;
}

.page-size-dropdown {
    width: 185px;
}

.note-editor.note-frame {
    border: none !important;
}

.note-editable {
    border: none !important;
}

.note-editor .btn {
    font-size: 12px !important;
}

.note-editor .modal-footer p {
    display: none !important;
}

#list-collection .panel-tabs > li > a {
    color: #666;
}

#list-collection .panel-tabs > li > a:hover,
#list-collection .panel-tabs > li.active a {
    color: #222 !important;
}

.row-deploy-status .btn-default.light:hover,
.row-deploy-status .btn-default.light:active,
.row-deploy-status .btn-default.light:focus {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.note-btn-group button {
    color: #222 !important;
}

.note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background: #fff !important;
}

.save-notes-container {
    float: right;
    position: relative;
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.saved-lander-alert {
    display: block;
    float: left;
    margin: 5px 10px 0 0;
    font-size: 18px;
}

.row-deploy-status-button {
    pointer-events: none;
}

.row-deploy-status-button.add-lander {
    pointer-events: all;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.filter-landers,
.filter-domains {
    cursor: pointer;
}

label.topbar-filter {
    position: relative;
    margin-right: 1px;
    margin-bottom: 14px;
}

#list-collection .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#list-collection > .accordion-group:first-child .panel-heading {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#list-collection > .accordion-group:last-child .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.download-original-lander:hover,
a.download-optimized-lander:hover {
    text-decoration: none;
}

#modal-region p {
    font-size: 14px !important;
}

.report-broken-link {
    color: #3498db;
    cursor: pointer;
}

.report-broken-link:hover {
    color: #1d6fa5;
}

.report-broken-link.reported {
    color: inherit;
    cursor: default;
}

.navbar-branding .navbar-brand {
    padding-left: 22px;
}

#sidebar_left.affix {
    margin-top: 103px;
}

body.onload-check #sidebar_left {
    -webkit-transform: translateZ(0);
    -webkit-transition: none;
    transition: none;
}


.left-table-of-contents.affix {
    position: fixed;
    top: 103px;
}

.col-left-documentation {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 230px;
}

.col-right-documentation {
    /*position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;*/
    width: 100%;
}

.list-content.documentation-content .landers-list-items {
    margin-top: 0;
}

.list-content .landers-list-items {
    margin-top: 25px;
}

.gui-input:focus {
    border: none;
}

#topbar .admin-form.theme-primary .gui-input {
    outline: none;
    border-radius: 20px;
}

#intercom-container .intercom-launcher,
#intercom-container .intercom-launcher-button {
    width: 40px !important;
    height: 40px !important;
}

#intercom-container .intercom-launcher-button {
    background-size: 17px 17px !important;
    opacity: .7 !important;
}

#intercom-container .intercom-launcher-button:hover {
    opacity: 1 !important;
}

.sidebar-right-content > .panel {
    margin-bottom: 60px;
}

#docs-button {
    z-index: 2147482999;
    position: fixed;
}

#documentation-button-container {
    position: fixed;
    bottom: 60px;
    right: 115px;
}

#documentation-button-container > .documentation-button {
    border: 1px solid #999;
    background-position: 50% 50%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 13px 0px;
    color: #666666;
    cursor: pointer;
    height: 42px;
    width: 42px;
    opacity: 0.7;
    left: -2px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: -2px;
    z-index: 0;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 21px 21px;
    transform-origin: 21px 21px;
    alignment-baseline: baseline;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.3) 100%);
    /*border: 1px solid transparent;*/
    /*border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);*/
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 13px / 19.37px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}

#documentation-region {
    position: relative;
    bottom: 0;
    overflow: auto;
}

#documentation-button-container > .documentation-button:hover {
    opacity: 1;
    background-color: #e1e1e1;
}

#documentation-button-container > .documentation-button > i {
    position: relative;
    top: 11px;
    left: 17px;
    font-size: 14px;
}

.page-size-dropdown {
    /*padding-bottom: 5px;*/
}

.docs-container.active {
    display: block;
}

.toggle-help-info {
    position: fixed;
    right: 20px;
    margin-top: 15px;
    z-index: 1;
}

.sidebar-left-content {
    overflow: hidden;
}

.sidebar-left-content {
    /*height: 290px;*/
    overflow: auto;
}

.sidebar-left-content ul.nav.sidebar-menu {
    height: 100%;
}

.posfixed {
    position: fixed !important;
}

.docs-container {
    position: fixed;
    bottom: 0;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.documentation.nav-spy {
    overflow: auto;
    padding-right: 16px;
}

.documentation.nav-spy.nano .nano-pane {
    display: none;
}

#docs .docs-resize .docs-resizebar {
    width: 100%;
    height: 8px;
    -webkit-transform: translateZ(0);
    padding-top: 1px;
    cursor: ns-resize;
    border-bottom: 1px solid #dedede;
}

#docs .docs-resize .docs-statusbar {
    background-color: rgb(245, 245, 245);
}

#docs .docs-resize .docs-statusbar .docs-resizebar .docs-icon-bar {
    width: 20px;
    margin: 1px auto;
    border-top: 1px solid rgb(169, 169, 169);
}

#docs .docs-resize {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    z-index: 3;
}

#right-sidebar #sidebar_right.affix {
    transform: initial;
}

.documentation-content-text-container h2 {
    padding: 0;
    margin: 15px 0 15px;
    border: none;
}


.documentation-content-text-container .sub-section {
    margin-bottom: 50px;
}
.documentation-content-text-container .sub-section:last-child {
    margin-bottom: 0px;
}
